:root {}

* {
    box-sizing: border-box;
}

body {
    font-family: "open sans", "sans-serif";
    margin: 0;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #000000bf;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0000008f;
}

/* Start YouTube Page */
.youtube {
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100vh;
    overflow: hidden;
    margin-bottom: 30px;
}

/* Start Nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
}

nav .one {
    display: flex;
    align-items: center;
}

nav .one .icons {
    margin-right: 10px;
}

nav .one i {
    font-size: 18px;
}

nav .two {
    position: relative;
}

nav .two::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    right: 55px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #999;
}

nav .two input {
    width: 500px;
    border-radius: 25px;
    border: 1px solid #DDD;
    padding: 10px;
}

@media (max-width:991px) {
    nav .two input {
        width: 350px;
        border-radius: 25px;
        border: 1px solid #DDD;
        padding: 10px;
    }
}

@media(max-width:767px) {
    nav .two {
        display: none;
    }
}

nav .two i {
    font-size: 23px;
    margin-left: 15px;
}

nav .three {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

@media(max-width:767px) {
    nav .three {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}

nav .three .search {
    display: none;
    font-size: 25px;
}

@media(max-width:767px) {
    nav .three .search {
        display: block;
        font-size: 25px;
    }
}

nav .three img {
    width: 37px;
}

nav .three .notification {
    position: relative;
}

nav .three .notification i {
    font-size: 30px;
}

nav .three .notification::before {
    content: "9+";
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: red;
    right: -2px;
    top: -10px;
    color: white;
    font-size: 10px;
    text-align: center;
}

nav .three .account {
    width: 30px;
    height: 30px;
    background-color: deeppink;
    color: white;
    border-radius: 50%;
    position: relative;
}

nav .three .account p {
    left: 7px;
    position: absolute;
    top: -9px;
}

/* End Nav */
.contents {
    display: flex;
}

/* Start Side Par */
.side {
    width: 200px;
    height: 100%;
}

.side .bar-1 {
    margin-bottom: 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
}

.side .bar-1 .bar-row {
    padding: 12px 10px;
    transition: 0.3s;
}

.side .bar-1 .bar-row:hover {
    background-color: #EEE;
    border-radius: 10px;
}

.side .bar-1 .active {
    background-color: #EEE;
    border-radius: 15px;
}

.side .bar-1 .bar-row:last-child {
    margin-bottom: 10px;
}

.side .bar-1 .bar-row i {
    font-size: 18px;
    margin-right: 12px;
}


.side .bar-1 .bar-row span {
    font-size: 13px;
}

/* Start Subscribe */
.side .subscribe {
    margin-bottom: 10px;
    border-bottom: 1px solid #DDD;
}

.side .subscribe h2 {
    padding: 12px 10px;
    font-size: 18px;
    font-weight: 600;
}

.side .subscribe .subscription-row {
    padding: 12px 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 0;
    margin-top: -20px;
    transition: 0.3s;
    cursor: pointer;
}

.side .subscribe .subscription-row:hover {
    background-color: #EEE;
    border-radius: 10px;
}

.side .subscribe .subscription-row img {
    width: 27px;
    border-radius: 50%;
}

.side .subscribe .subscription-row p {
    font-size: 13px;
}

.side .subscribe .subscription-row span {
    width: 5px;
    height: 5px;
    background-color: rgb(18 18 215 / 70%);
    border-radius: 50%;
}

.side .subscribe .subscription-row-more {
    display: flex;
    align-items: center;
}

.side .subscribe .subscription-row-more .more {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.side .subscribe .subscription-row-more p {
    font-size: 13px;
}

@media(max-width:767px) {
    .side .subscribe .subscription-row p {
        display: none;
    }

    .side {
        width: 50px;
        height: 100%;
    }

    .side .subscribe h2 {
        display: none;
    }

    .side .subscribe .subscription-row-more p {
        display: none;
    }

    .side .subscribe .subscription-row img {
        width: 27px;
        border-radius: 50%;
        margin-bottom: 11px;
    }

    .side .subscribe .subscription-row {
        padding: 12px 10px;
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 0;
        margin-top: -20px;
        transition: 0.3s;
        cursor: pointer;
        margin-top: 5px;
    }

    .side .subscribe .subscription-row-more .more {
        display: flex;
        align-items: center;
        padding: 0px 20px;
        margin-bottom: 10px;
    }
}

/* End Subscribe */
.copyright {
    padding: 0px 10px;
}

.copyright p {
    font-size: 13px;
    color: #777;
    font-weight: 600;
    line-height: 1.4;
}

.copyright span {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
    color: #999;
}

@media(max-width:767px) {
    .side .bar-1 .bar-row span {
        display: none;
    }

    .side {
        width: 50px;
        height: 100%;
    }

    .side .bar-1 h2 {
        display: none;
    }

    .copyright {
        display: none;
    }
}

/* End Side Par */
/* Start Content */
/* Start Header */

.youtube .content {
    flex: 1;
    padding: 0px 20px;
}

.youtube .contents .content .header .spans span:not(:first-child) {
    font-size: 15px;
    margin-left: 12px;
    background-color: #EEE;
    padding: 5px 5px;
    overflow: hidden;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.youtube .contents .content .header .spans span:not(:first-child):hover {
    background-color: #999;
}

.all {
    font-size: 15px;
    margin-left: 12px;
    padding: 5px 5px;
    overflow: hidden;
    border-radius: 10px;
    font-weight: 500;
    background-color: black;
    color: white;
    cursor: pointer;
}

.youtube .contents .content .header .spans i {
    margin-left: 20px;
    transition: 0.3s;
    padding: 8px;
}

.youtube .contents .content .header .spans i:hover {
    background-color: #CCC;
    border-radius: 50%;
}

.youtube .contents .content .header .date {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.youtube .contents .content .header .date p {
    font-size: 13px;
    font-weight: 500;
}

.bg-999 {
    color: #0000009c;
}

.bg-ccc {
    color: #00000057;
}


@media(max-width:767px) {
    .youtube .contents .content .header {
        display: none;
    }
}

@media(max-width:991px) {
    .youtube .contents .content .header {
        display: none;
    }
}

/* End Header */
/* Start Videos */
.youtube .content .videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.youtube .content .videos .box {
    cursor: pointer;
}

@media(max-width:767px) {
    .youtube .content .videos .box {
        border-bottom: 1px solid #DDD;
        padding-bottom: 15px;
    }
}

.youtube .content .videos .img {}

.youtube .content .videos .img img {
    width: 100%;
    height: 235px;
    border-radius: 10px;
}

.youtube .content .videos .channel {
    display: flex;
    margin-top: 15px;
}

.youtube .content .videos .channel .creator {}

.youtube .content .videos .channel .creator img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 25px;
}

.youtube .content .videos .channel .text {}

.youtube .content .videos .channel .text h2 {
    margin-top: 0;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    height: 50px;
}

.youtube .content .videos .channel .text h4 {
    margin-top: 0;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    margin-bottom: 0;
}

.youtube .content .videos .channel .text span {
    font-size: 18px;
    color: #777;
}

/* End Videos */
/* End Content */
/* End YouTube Page */